<footer class="footer py-4 px-4">
    <div class="container-fluid pe-5">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start"> ©
                    <script>
                    document.write(new Date().getFullYear())
                    </script> Developed and Designed by <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Huzaifa and Farooq</a></div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item"> <a href="/" class="nav-link text-muted" target="_blank">Home</a> </li>
                    <li class="nav-item"> <a href="/aboutUs" class="nav-link text-muted" target="_blank">About Us</a> </li>
                    <li class="nav-item"> <a href="/shopping-sites" class="nav-link text-muted" target="_blank">Shopping Sites</a> </li>
                </ul>
            </div>
        </div>
    </div>
</footer>