{% load static %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header text-white">
        <a class="d-flex navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank"> 
            <img src="{% static '/img/logo.png' %}" class="navbar-brand-img h-100 me-2 w-auto" alt="main_logo"> 
            <div class="nav-text mx-1 font-weight-bold text-white">Company Name</div>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav h-100">
            <li class="nav-item">
                <a class="nav-link text-white" href="./dashboard">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center"> 
                        <img class="icon light-icon" src="https://img.icons8.com/fluency-systems-filled/96/ffffff/null/dashboard-layout.png"/>
                        <img class="icon dark-icon" src="https://img.icons8.com/fluency-systems-filled/96/344767/null/dashboard-layout.png"/>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="./customerslist">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img class="icon light-icon" src="https://img.icons8.com/fluency-systems-filled/96/ffffff/null/conference-call.png"/>
                        <img class="icon dark-icon" src="https://img.icons8.com/fluency-systems-filled/96/344767/null/conference-call.png"/>
                    </div> 
                    <span class="nav-link-text ms-1">Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="./customerslist">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img class="icon light-icon" src="https://img.icons8.com/fluency-systems-filled/96/ffffff/null/conference-call.png"/>
                        <img class="icon dark-icon" src="https://img.icons8.com/fluency-systems-filled/96/344767/null/conference-call.png"/>
                    </div> 
                    <span class="nav-link-text ms-1">Customers</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="./mypackages">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                        <img class="icon light-icon" src="https://img.icons8.com/fluency-systems-filled/96/ffffff/null/package.png"/>
                        <img class="icon dark-icon" src="https://img.icons8.com/fluency-systems-filled/96/344767/null/package.png"/>
                    </div>
                    <span class="nav-link-text ms-1">Packages</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white " href="./shippingHistory">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center"> 
                        <img class="icon light-icon" src="https://img.icons8.com/fluency-systems-filled/96/ffffff/null/cargo-ship.png"/>
                        <img class="icon dark-icon" src="https://img.icons8.com/fluency-systems-filled/96/344767/null/cargo-ship.png"/>
                    </div>
                    <span class="nav-link-text ms-1">Shipping History</span>
                </a>
            </li>

            <li class="nav-item mt-auto">
                <a class="nav-link text-white" href="./sign-up.html">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center"> 
                        <img class="icon light-icon" src="https://img.icons8.com/ios-filled/96/ffffff/logout-rounded-left.png"/>
                        <img class="icon icon dark-icon" src="https://img.icons8.com/ios-filled/96/344767/logout-rounded-left.png"/>
                    </div>
                    <span class="nav-link-text ms-1">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>